@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@1,500&display=swap');

.upperbar{
position: absolute;
width: 1540px;
height: 60px;
left: 0px;
top: 0px;

background-color: #2E3190;
}
.icon{
color: white;
/* position: absolute; */
margin: 0px 2px 0px 2px;
width: 400px;
height: 21px;
left: 146px;
top: 25px;

}
.fa-phone-alt,.fa-envelope {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.nav-item .fa-facebook-square{
    margin-left: 600px;
}
.navbar-brand{
    padding-left: 40px;
}
.nav-link{
    margin-left: 20px;
}
.help.btn, .btn{
    background-color:#C13D4A; 
    color: white;
    border-radius: 50px 50px;
    width: 150px;
    height: 45px;
    padding-top: 8px;
}
.images{
    
    width: 200px;
    height: 200px;
}
/* Services */
.box{
  background-color: #fff;
  box-shadow: 0 0 0 0px #e2e9ed;
  padding: 30px 10px;
  position: relative;
  z-index: 0;
  transition: 0.2s all;
}
.box:hover{
    z-index: 1;
    box-shadow: 0 4px 10px rgba(187, 41, 55, 0.534);
    transform:scale(1.02);
}
.box .icons{
    width:100px;
    height: 60px;
    margin-right: 50px;

}
.box .icons .images{
    height: 70px;
    width: 70px;
}
.box .box_content{
    margin: 10px 0;

}
.box .box_content .title{
 padding:15px 0 10px 0;
 font-weight: bold;
}
.box .box_content .post{
    font-size: 14px;
}
.box .more{
    display: inline-flex;
}
.fa-arrow-right{
    color:#C13D4A;
    padding-top: 15px;
}
.text{
    color:#C13D4A;
    padding-top: 10px;
}

/* Contact Us */
.contact-area .contact-blog{
    font-weight: light;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}
/* destination */
.card-img-top{
    height: 320px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    opacity: 0.4;
    width: 347px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    
    
  }

  /* courses */
  .course{
      max-width: 1536px;
      min-height: 550px;
      background-color: #2E3190;
      color: white;
  }

  .course .title-course{
      text-align: center;
      padding-top: 40px;
  }
  .box1{
    background-color: #2E3190;
    box-shadow: 0 0 0 0px #e2e9ed;
    padding: 30px 10px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
  }
  .box1:hover{
      z-index: 1;
      background-color: white;
      color: black;
      box-shadow: 0 4px 10px rgba(187, 41, 55, 0.534);
      border-radius:  7px 7px;
      transform:scale(1.02);
  }
  .box1 .icons1{
      width:150px;
      height:150px;
      margin-left:70px;
  
  }
  /* .box1 .icons1 .images1{
      height: 70px;
      width: 70px;
  } */
  .box1 .box1_content{
      margin: 10px 0;
      opacity: 0;
      transform: translateY(10px);
      transition: 0.2s all;
      
  
  }
  .box1 .box1_content .title1{
   padding:2px 0 2px 0;
   
  }
  .box1 .box1_content .post1{
      font-size: 14px;
  }
  .box1 .read{
      display: inline-flex;
      opacity: 0;
      transform: translateY(10px);
      transition: 0.2s all;
  }
  .box1:hover .box1_content{
      opacity: 1;
      transform: translateY(10px);
  }
  .box1:hover .read{
    opacity: 1;
    transform: translateY(10px);
  }
  .box1:hover .icons1{
      display: none;
      transform: translateY(10px);
  }
  
  .fa-arrow-right{
      color:#C13D4A;
      padding-top: 15px;
  }
  .read-text{
      color:#C13D4A;
      padding-top: 10px;
  }
  
  /* blogs */
  .bottom-right {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #C13D4A;
    
  }
.blog .card-deck .card .card-body .card-text{
    font-size: 15px;
}
.blog .card-deck .card .card-body .card-title{
    font-size: 15px;
    font-weight: bold;
}
.blog .card-deck .card .card-body .contents{
    font-size: 10px;
    color:black;
    margin-top:5px;
   
}

/* testomonial */
.testimonial .card-img-top{
	height: 190px;
	width: 190px;
	margin-left: 130px;
	 border-radius: 10px 10px;
    border:1px solid white;
     border-style: solid;   
}
.testimonial .card{
	border-color: white;
}
.testimonial .vertical-line{
    width: 5px;
    height: 380px;
    background-color: #BAC7D5;
    border-radius: 10px 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
   
}
.testimonial .images-test{
    width: 120px;
    height: 120px;
    padding-left: 10px;

}
.testimonial .card .card-body h5{
	font-weight: bold;
}
.testimonial .card .card-body h6{
	font-weight:lighter;
	color: blue;
	padding-top: 0px;
}
.testimonial .card .card-body .card-text{
    font-size: 15px;
    margin-bottom: 50px;
}
.carousel-indicators li{
	border: 1px solid #C13D4A;
	border-radius: 50px 50px;
	height: 20px;
	width: 20px;
    background-color: red;
    opacity: 0.4;
	margin-top: 2500px;
}


/* unniversity */
.uni{
    width: 200px;
    height: 200px;

}
/* help */
.help-blog{
    font-weight: light;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    
}
.help .form-control{
    border-radius: 15px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    height: 50px;
    min-width: 200px;
    margin: 0 15px 0 15px;
}
.help .form-row .btn{
    margin-left: 20px;
    border-radius: 50px;
    min-width: 160px;
    height: 50px;
}

.myfooter{
    background-color:black;
    color: white;
}
 .myfooter  a{
    color: white;
    text-decoration: none;
    
}
.myfooter .footer-topic{
    color: #C13D4A;;
}
.myfooter .form-control{
    min-width: 300px;
    min-height: 50px;
   
    margin:0;
}
.myfooter .btn{
    margin-right:5px;
    height: 50px;
    width: 80px;
    background: #C13D4A;
    border-radius: 10px 10px;
    
}
.myfooter .fa-phone-alt{
    margin-left: 0px;
}

.social-icons .icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.myfooter .social-icons li{
    display: inline-block;
    margin: 0 5px;
}



@media only screen and (max-width: 768px) {
    .line{
        display: none;
    }
  }
  @media only screen and (max-width: 540px) {
    .centered {
        min-width: 505px;
        
      }
  }