@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.header{
box-shadow: border-box;
position: relative;
margin: 0;
padding: 0;
height: 30px;


background-color: #2E3190;
}
.header li{
    color:white;
}
.header a{
    color:white;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 190px;
    height: 30px;
    font-size: 12px;
    
}
.nav-link{
    font-size: 18px;
    font-weight: 600;
}

.items{
    display: inline block;
}
.tophead{
    display: flex;
}

.help.btn, .btn{
    background-color:#C13D4A; 
    color: white;
    border-radius: 10px 10px;
    width: 130px;
    height: 45px;
    padding-top: 7px;
}
.nav-link{
    font-size: 18px;
    font-weight: 600;
}

 /* two section  */
.text-section{
    margin-top: 60px;
}
.image-section{
    margin-top: 0;
}
.text-section h2{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 0px;
}
.text-section .btn{
    width: 180px;
    border-radius: 0px 10px 10px 0px;
}
.form-control{
    padding: 22px 5px;
}
.form-group p{
   margin-top: 70px;
}
/* services section */
.services-section h2 {
    font-size: 25px;
    font-weight: 600;
}
.services-section h3{
    font-size: 20px;
    font-weight: 600;
}
/* help */
h1{
	font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    
}
.head{
    margin-top: 30px;
}
.head h1{
    color: #2E3190;
}

.images2 {
	left: 200px;
	top: -620px;
	width: 700px;
	height: 100px;
	position: relative;
	z-index: -1;
}
.imguid{
    opacity: 0.8;
}
.form-control {
	padding: 20px;
	background-color: #F4F5F4;
	border-color: #F4F5F4;
}
textarea.form-control {
    height: 220px;
}
.topic{
	font-weight: bold;
	font-size: 15px;
}
.texts{
	font-size: 15px;
	font-weight: bold;
}
.form-row a{ 
text-decoration: none;
 }
/* footer */

.myfooter{
    background-color:#2E3190;
    color: white;
}
 .myfooter  a{
    color: white;
    text-decoration: none;
    
}
.myfooter .footer-topic{
    color: #C13D4A;;
}
.myfooter .form-control{
    min-width: 300px;
    min-height: 50px;
   
    margin:0;
}
.myfooter .btn{
    margin-right:5px;
    height: 50px;
    width: 80px;
    background: #C13D4A;
    border-radius: 10px 10px;
    
}
.myfooter .fa-phone-alt{
    margin-left: 0px;
}

.social-icons .icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.myfooter .social-icons li{
    display: inline-block;
    margin: 0 5px;
}

/* heading */

  @media only screen and 
  (max-width: 540px) {
      .myfooter .btn{
          margin-top: 10px;
      }
  }
  @media only screen and 
  (max-width: 540px) {
      .tophead .head-top{
          display: none;
      }
  }