@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.header{
box-shadow: border-box;
position: relative;
margin: 0;
padding: 0;
height: 30px;


background-color: #2E3190;
}
.header li{
    color:white;
}
.header a{
    color:white;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 190px;
    height: 30px;
    font-size: 12px;
    
}
.items{
    display: inline block;
}
.tophead{
    display: flex;
}

.help.btn, .btn{
    background-color:#C13D4A; 
    color: white;
    border-radius: 10px 10px;
    width: 130px;
    height: 45px;
    padding-top: 7px;
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
}

/* two section  */
.text-section{
    margin-top: 60px;
}
.image-section{
    margin-top: 0;
}
.text-section h2{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 15px;
}

.university h2{
    font-size: 30px;
    font-weight: 600;
}
.university h3{
    font-size: 20px;
    font-weight: 600;
}
/* about us */
.aboutus h1{
    font-weight: 500;
    font-size: 35px;
}
.about-text{
    padding: 20px 50px;
}
.box{
    background-color: #fff;
    box-shadow: 0 0 0 0px #e2e9ed;
    padding: 30px 10px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
  }
  .box:hover{
      z-index: 1;
      box-shadow: 1px 2px 5px rgba(187, 41, 55, 0.534);
      transform:scale(1.02);
  }
  .box .icons{
      width:100px;
      height: 60px;
      
  
  }
  .box .icons .images{
      height: 80px;
      width: 80px;
  }
  .box .box_content{
      margin: 10px 0;
  
  }
  .box .box_content .title{
   padding:15px 0 10px 0;
   font-weight: bold;
  }
  .box .box_content .post{
      font-size: 14px;
  }


  /* university */
  .university h1{
      font-size: 35px;
      font-weight: 500;
  }
  .uni-text{
    padding: 20px 50px;
}
.button .btn{
    margin: 0;
}
.topic{
    padding-bottom: 10px;
}
/* footer */

.myfooter{
    background-color:#2E3190;
    color: white;
}
 .myfooter  a{
    color: white;
    text-decoration: none;
    
}
.myfooter .footer-topic{
    color: #C13D4A;;
}
.myfooter .form-control{
    min-width: 300px;
    min-height: 50px;
   
    margin:0;
}
.myfooter .btn{
    margin-right:5px;
    height: 50px;
    width: 80px;
    background: #C13D4A;
    border-radius: 10px 10px;
    
}
.myfooter .fa-phone-alt{
    margin-left: 0px;
}

.social-icons .icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.myfooter .social-icons li{
    display: inline-block;
    margin: 0 5px;
}

/* heading */

  @media only screen and 
  (max-width: 540px) {
      .myfooter .btn{
          margin-top: 10px;
      }
  }
  @media only screen and 
  (max-width: 540px) {
      .tophead .head-top{
          display: none;
      }
  }