@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.header{
box-shadow: border-box;
position: relative;
margin: 0;
padding: 0;
height: 30px;


background-color: #2E3190;
}
.header li{
    color:white;
}
.header a{
    color:white;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 190px;
    height: 30px;
    font-size: 12px;
    
}
.items{
    display: inline block;
}
.tophead{
    display: flex;
}

.help.btn, .btn{
    background-color:#C13D4A; 
    color: white;
    border-radius: 5px 5px;
    width: 130px;
    height: 45px;
    padding-top: 7px ;
    
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
}

/* breadcrumb */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb-div{
    background-color: #2E3190;
    opacity: 0.7;
    width: auto;
    height: 200px;
    margin-top: 30px;
    
}
.breadcrumb-div h1 {
    color: black;
    padding-top: 50px;
    font-size: 25px;
}
.breadcrumb {
    margin-top: 10px;
    background-color: #2E3190;
    display: block;
    text-align: center;}
.breadcrumb-item {
    text-align: center;
    display: inline;}

ol.breadcrumb li.float-left {
    float: none !important;
    display: inline-block;
}
/* image-section */
.image-section{
    height: 520px;
  background-image: url(/images/kimberly-farmer-lUaaKCUANVI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* single-blog */
.single-blog h2{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.single-blog .more .fa-user{
    color: black;
}
/* cards */
.blogs h1{
    font-size: 30px;
    padding: 20px 0;
}
.more1 p {
    color: #C13D4A;
}
.more1 .fa-arrow-right {
    color: #C13D4A;
}
.blogs .card-deck .card .card-body .card-text{
    font-size: 15px;
}
.blogs .card-deck .card .card-body .card-title{
    font-size: 15px;
    
}
.blogs .card-deck .card .card-body .contents{
    
    color:black;
    margin-top:5px;
    font-weight: 700;
   
}
/* footer */

.myfooter{
    background-color:#2E3190;
    color: white;
}
 .myfooter  a{
    color: white;
    text-decoration: none;
    
}
.myfooter .footer-topic{
    color: #C13D4A;
}
.myfooter .form-control{
    min-width: 300px;
    min-height: 50px;
   
    margin:0;
}
.myfooter .btn{
    margin-right:5px;
    height: 50px;
    width: 80px;
    background: #C13D4A;
    border-radius: 10px 10px;
    
}
.myfooter .fa-phone-alt{
    margin-left: 0px;
}

.social-icons .icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.myfooter .social-icons li{
    display: inline-block;
    margin: 0 5px;
}

/* heading */

  @media only screen and 
  (max-width: 576px) {
      .myfooter .btn{
          margin-top: 10px;
      }
  }
  @media only screen and 
  (max-width: 768px) {
      .myfooter .btn{
          margin-top: 10px;
      }
  }
  @media only screen and 
  (max-width: 576px) {
      .tophead .head-top{
          display: none;
      }
  }